html {
    background-color:#E7E7E7;
}

body {
    background-color:#E7E7E7;
    font-family: 'Arial Unicode MS', 'Arial';
    color:#333;
}

.navbar-brand {
    padding:0px;
}

.navbar-brand img {
    max-height:42px;
    margin-top:5px;
}

select.form-control {
    max-width:20%
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}
