html {
    background-color:#E7E7E7;
}

body {
    background-color:#E7E7E7;
    font-family: 'Arial Unicode MS', 'Arial';
    color:#333;
}

.navbar-brand {
    padding:0px;
}

.navbar-brand img {
    max-height:42px;
    margin-top:5px;
}

select.form-control {
    max-width:20%
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right{
    text-align: right;
}

.server-action-menu {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:10px;
    padding: 5px;
}

.dGrid {
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .dGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
        background: #fcfcfc url(assets/img/grd_alt.png) repeat-x top;
    }

    .dGrid .hdr {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(assets/img/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .dGrid .ftr td {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(assets/img/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
        font-weight: bold;
    }

    .dGrid .ftr a {
        color: #fff;
        text-decoration: none;
    }

        .dGrid .ftr a:hover {
            color: #fff;
            text-decoration: none;
        }